#first1 {
	width: 80%;
	margin: 50px 0 50px 100px;
	text-align: center;
}

#contract {
	height: 40px;
	background: pink;
	line-height: 40px;
	padding-left: 10px;
}

#gioithieu {
	font-size: 15px;
	margin-top: 20px;
}


nav {
	background-color:none;
	overflow: hidden;
}


nav a {
	color: black;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	background-color: #DDD;
	color: black;
}

.nani {
	margin:10px 0 15px 25px;
}

#career {
	font-size: 150%;
	font-weight: bold;
}

#notable {
	font-size: 150%;
	font-weight: bold;
}

.last1 {
	font-size: 150%;
	font-weight: bold;
}


footer {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	text-align: center;
}

footer > a {
	color: white;
}

table {
	width: 100%;
  	border: 1px solid;
 }

 figure {
  width: 260px;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}


#container {
	display: flex;
	flex-wrap: nowrap;
}

#bow {
	flex: 10%;
	padding: 10px 20px;
}

#left_side {
	flex: 50%;
	background-color: #f1f1f1;
	padding: 10px 20px;
}

#right_side {
	flex: 20%;
	padding: 10px 20px;
}


@media (max-width: 800px) {
	table {
		width: 30%;
	}
}